.password-container {
  padding: 20px;
  article {
    background-color: #0e1326;
    min-width: 300px;
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    color: white;
  }
}
