* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(3, 5, 34);

  header {
    text-align: center;
    h1 {
      font-family: "Archivo Black";
      color: white;
      margin: 0 15px;
      margin-top: 20px;
      font-size: 40px;
    }
    h2 {
      font-family: Lobster;
      color: white;
      margin: 0 15px;
      margin-top: 5px;
      font-weight: 100;
      font-size: 35px;
    }
  }

  article {
    padding: 10px;
    background-color: rgba(85, 176, 255, 0.903);
    margin: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    img {
      width: 40px;
      border-radius: 50%;
    }
    h3 {
      display: inline-block;
      min-width: 80%;
    }
    p {
      margin: 20px 0 5px 0;
      padding: 3px;
      font-family: Montserrat;
      background-color: white;
    }
  }
}
